.color {
  display: grid;
  grid-template-columns: 40px 3fr 1fr 16px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  flex-basis: 100% - 16px;
}

.color--selected {
  background-color: var(--color-lightgray);
}

.color-box {
  height: 40px;
  width: 40px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
}

.color-box__bg {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.field {
  display: inline-flex;
  flex-direction: column;
}

.field__label {
  color: var(--color-gray);
  text-transform: uppercase;
  font-size: 12px;
}

.remove-icon {
  cursor: pointer;
  margin-bottom: 14px;
  height: 16px;
  width: 16px;
}

@media (min-width: 768px) {
  .color {
    grid-template-columns: 40px 3fr 1fr 16px;
    gap: 16px;
    padding: 16px;
  }
}