.Background {
  width: 100%;
  height: 50vh;
}

.Panel {
  display: grid;
  grid-template-areas:
    'toggle'
    'color'
    'code';
  gap: 40px;
  width: 100%;

  background-color: white;
  border-radius: 24px;

  box-shadow: 0px 4px 16px #9A9A9A;

  padding: 40px;

  margin-top: -10vh;
  margin: -10vh auto 0;
}

.ToggleArea {
  grid-area: toggle;
}

.ColorArea {
  grid-area: color;
  display: grid;
  gap: 40px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.CodeArea {
  grid-area: code;
}

.TypeSelector {
  display: flex;
  gap: 36px;
  align-items: center;
}

.DegField {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.DegField_Label {
  text-transform: uppercase;
  color: #9A9A9A;
  font-size: 12px;
}

@media (min-width: 1400px) {
  .Panel {
    grid-template-areas:
      'toggle toggle toggle toggle'
      'color color code code';
    grid-template-rows: 40px 100%;
    width: 80%;
  }

  .ColorArea {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
  }
}