.background {
  width: 100%;
  height: 50vh;
}

.divider {
  width: 100%;
  border: 1px solid #f5f5f5;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px #9A9A9A;
  margin-top: -10vh;
  margin: -10vh auto 0;
}

.gradient-toggle {
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
}

.gradient-color {
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
  display: grid;
  gap: 16px;
  grid-template-rows: min-content 1fr;
  align-items: center;
  justify-items: center;
}

.gradient-code {
  height: 300px;
  padding: 16px;
}

.gradient-toggle__selector {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.deg-field {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.deg-field__label {
  text-transform: uppercase;
  color: #9A9A9A;
  font-size: 12px;
}

@media (min-width: 768px) {
  .gradient-toggle {
    padding: 40px;
  }

  .gradient-color {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    padding: 40px;
    gap: 40px;
  }

  .gradient-code {
    padding: 40px;
  }

  .gradient-toggle__selector {
    gap: 32px;
    justify-content: flex-start;
  }
}

@media (min-width: 1400px) {
  .panel {
    grid-template-rows: 40px 1fr 1fr;
    width: 80%;
  }
}