.Panel {
  display: grid;
  grid-template-areas:
    'toggle'
    'color'
    'code';
  gap: 40px;
  width: 100%;

  background-color: white;

  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 40px;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ToggleArea {
  grid-area: toggle;
}

.ColorArea {
  grid-area: color;
  display: grid;
  gap: 40px;
  grid-template-rows: 1fr 1fr;
}

.CodeArea {
  grid-area: code;
}

.TypeSelector {
  display: flex;
  gap: 36px;
  align-items: center;
}

.DegField {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.DegField_Label {
  text-transform: uppercase;
  color: #9A9A9A;
  font-size: 12px;
}

@media (min-width: 1400px) {
  .Panel {
    grid-template-areas:
      'toggle toggle toggle toggle'
      'color color code code';
    grid-template-rows: 40px 100%;
    width: 80%;
  }

  .ColorArea {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
  }
}