.ColorPicker {
  width: 100%;
}

.ColorPicker .react-colorful {
  width: 100%;
  height: 350px;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.ColorPicker .react-colorful__saturation {
  height: 152px;
  border-radius: 4px;
}

.ColorPicker .react-colorful__saturation-pointer,
.ColorPicker .react-colorful__hue-pointer,
.ColorPicker .react-colorful__alpha-pointer {
  height: 14px;
  width: 14px;
}

.ColorPicker .react-colorful__hue,
.ColorPicker .react-colorful__alpha {
  height: 8px;
  border-radius: 100px;
}

@media (min-width: 768px) {
  .ColorPicker {
    width: unset;
  }

  .ColorPicker .react-colorful {
    width: 360px;
    height: 250px;
  }
}